section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.event-card,
.job-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.actions {
  display: flex;
  gap: 10px;
}
button {
  padding: 10px;
}
.edit-button {
  background-color: #007bff;
  color: white;
}
.delete-button {
  background-color: #dc3545;
  color: white;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.follow-button {
  background-color: #28a745;
  color: white;
}
.unfollow-button {
  background-color: #6c757d;
  color: white;
}
.view-button {
  background-color: #17a2b8;
  color: white;
}
.createBtn {
  color: white;
  background-color: black;
}
.error {
  color: red;
}
.success {
  color: green;
}
