<body>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/inbox">Inbox</a>
    <a routerLink="/profile">Profile</a>
    <button
      *ngIf="isSignedIn"
      id="sign-out"
      type="button"
      title="sign-out"
      (click)="signOut()"
    >
      Sign out
    </button>
    <button
      *ngIf="!isSignedIn"
      id="sign-in"
      type="button"
      title="sign-in"
      (click)="signIn()"
    >
      Sign in
    </button>

    <button [disabled]="currentLang === 'hr'" (click)="switchLanguage('hr')">
      HR
    </button>

    <button [disabled]="currentLang === 'en'" (click)="switchLanguage('en')">
      EN
    </button>
  </nav>

  <router-outlet></router-outlet>
</body>
