<section>
  <div>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <label for="email">E-mail: </label>
      <input
        type="text"
        id="email"
        formControlName="email"
        title="name"
        placeholder="example@example.com"
      />
      <div
        *ngIf="
          signinForm.get('email')?.touched && signinForm.get('email')?.invalid
        "
        class="error"
      >
        <span *ngIf="signinForm.get('email')?.errors?.['required']"
          >Email is required!</span
        >
        <span *ngIf="signinForm.get('email')?.errors?.['email']"
          >Invalid email format!</span
        >
      </div>
      <br />

      <label for="password">Password: </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        name="password"
        title="password"
      />
      <br />
      <div
        *ngIf="
          signinForm.get('password')?.touched &&
          signinForm.get('password')?.invalid
        "
      >
        <span *ngIf="signinForm.get('password')?.errors?.['required']"
          >Password is required!</span
        >
        <span *ngIf="signinForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters</span
        >
      </div>
      <br />
      <br />

      <button type="submit" [disabled]="signinForm.invalid">Submit</button>
    </form>
    <br />

    <a routerLink="/sign-up">Don't have an account? Sign up!</a> <br /><br />
    <a routerLink="/">Go to home</a>
  </div>
</section>
